# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse Project files
.project
.cproject
.settings
Debug

# IDEA/CLion Project files
.idea
*.cbp
cmake-build-debug/

CMake Project files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
BuildTestTarget.cmake
CTestTestfile.cmake
out/
Testing/

# Linux desktop files
.directory
