name: CMake

on:
  push:
    branches: main
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Configure CMake
      run: cmake .

    - name: Build
      run: make

    - name: Test
      run: ctest

